<!doctype html>
<html lang="en">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115943535-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115943535-1');
</script>





	<title>Lightbulb!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection"/>
  	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
	<link href="/css/play.css" rel="stylesheet" type="text/css">
	<link href="/css/notification_popup.css" rel="stylesheet" type="text/css">
	<link href="/css/general.css" rel="stylesheet" type="text/css">


	<!-- for search overlay -->
	<link href="/css/search.css" rel="stylesheet">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
