<div class="modal-content">
    <!-- Header -->
    <div class="modal-header" style="position:relative;">

        <h4 class="modal-title" id="myModalLabel"><img src="/images/logo.png" style="width:100%; margin-top:2rem;">
          <button style="font-size:2rem; position:absolute; top:0.5rem; right:0.5rem; color:black; opacity:.6;" type="button" class="close" data-dismiss="modal" aria-hidden="true"> X </button></h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-11">
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="nav-tabs">
                    <li id="login-tab"><a href="#Password" data-toggle="tab" style="font-size:1.4rem">Edit Password</a></li>
                    <li id="signup-tab" class="active"><a href="#Info" data-toggle="tab" style="font-size:1.4rem">Edit Info</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="tab-content">

                    <!-- Password form -->
                    <div class="tab-pane" id="Password">
                        <form role="form">

                          <!-- Current password -->
                          <div class="form-group">
                            <input type="password" class="form-control signup-input" id="originalPassword" onClick="this.setSelectionRange(0, this.value.length)">
                            
                            <center>
                                <p style="display:inline">Current password</p>
                                <p id="incorrect-password"></p>
                              </center>
                          </div>

                          <br>

                          <!-- New password -->
                          <div class="form-group">
                            <input type="password" class="form-control signup-input" id="newPassword1" onClick="this.setSelectionRange(0, this.value.length)">
                            
                            <center>
                                <p style="display:inline">New password</p>
                            </center>
                          </div>

                          <!-- Confirm password -->
                          <div class="form-group">
                            <input type="password" class="form-control signup-input" id="newPassword2" onClick="this.setSelectionRange(0, this.value.length)">
                            
                            <center>
                                <p style="display:inline">Confirm password</p>
                                <p id="invalid-password"></p>
                            </center>
                          </div>

                            <!-- Save password button -->
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input id="changePassword-btn" type="button" class="btn btn-primary btn-sm" value="Save Password" />
                                </div>
                            </div>


                        </form>
                    </div>

                    <!-- Info form -->
                    <div class="tab-pane active" id="Info">
                        <form id="addFriendForm" role="form">
                          
                          <!-- Email -->
                          <div class="form-group">
                            <input type="text" class="form-control signup-input" id="email" onClick="this.setSelectionRange(0, this.value.length)" value="{{email}}">
                            
                            <center>
                                <p style="display:inline">Email</p>
                                <p id="email-taken"></p>
                            </center>
                          </div>

                          <!-- Name -->
                          <div class="form-group">
                            <input type="text" class="form-control signup-input" id="name" onclick="this.setSelectionRange(0, this.value.length)" value="{{actualName}}">
                          
                            <center>
                                <p style="display:inline">Name</p>
                            </center>
                          </div>

                            <!-- Username -->
                            <div class="form-group">
                              <input type="text" class="form-control signup-input" id="username"  onClick="this.setSelectionRange(0, this.value.length)" value="{{userName}}">
                              
                              <center>
                                <p style="display:inline">Username</p>
                                <p id="username-taken"></p>
                              </center>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                              <input type="text" class="form-control signup-input" id="description" name="description" onClick="this.setSelectionRange(0, this.value.length)" value="{{description}}">
                              
                              <center>
                                <p style="display:inline">Description</p>
                              </center>
                            </div>

                            <!-- Save info button -->
                            <div class="row">
                                <div class="col-sm-12">                              
                                    <input id="changeInfo-btn" class="btn btn-primary btn-sm signup-input"  value="Save Info" ></input>
                                </div>
                            </div>

                            
                          

                        </form>


                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<!-- Check if user enter correct login information -->
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect();

//var socket = io.connect('https://a8-cogs120team2.herokuapp.com/');
//var socket = io.connect('https://a9-team2.herokuapp.com/');

    $('#changePassword-btn').click(function(e)
    {
        e.preventDefault();
        var originalPassword = $('#originalPassword').val();
        var newPassword1 = $('#newPassword1').val();
        var newPassword2 = $('#newPassword2').val();

        changePassword(originalPassword, newPassword1, newPassword2);
    });

    //---------

    $('#changeInfo-btn').click(function(e)
    {
        e.preventDefault();
        var description = $('#description').val();
        var actualName = $('#name').val();
        var usrName = $('#username').val();
        var email = $('#email').val();

        changeInfo(email, actualName, usrName, description);
    });
</script>
