a:active {color: white; text-decoration: none;}    /* selected link */
a:link {text-decoration: none;}      /* unvisited link */
a:visited {text-decoration: none;}   /* visited link */
a:hover {text-decoration: none;}     /* mouse over link */
a { text-decoration: none; } 

.nav-divider, 
.search
{
  background-color: #B2CDE3;
  border-right: 1px solid #efefef;
}

.nav-divider:active, 
.search:active 
{ 
  opacity: 0.7; 
}
